.flexd {
  display: flex;

  &.row {
    flex-direction: column;
  }

  &.center {
    place-content: center;
    place-items: center;
  }

  &.h-center {
    place-content: center;
  }

  &.v-center {
    place-items: center;
  }
}

.flexd-row {
  @extend .flexd;
  @extend .flexd.row;
}

.flexd-center {
  @extend .flexd;
  @extend .flexd.center;
}

.flexd-row-center {
  @extend .flexd;
  @extend .flexd.row;
  @extend .flexd.center;
}
